@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src:
    url("./fonts/rubik-v14-latin-regular.woff2") format("woff2"),
    url("./fonts/rubik-v14-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src:
    url("./fonts/rubik-v14-latin-700.woff2") format("woff2"),
    url("./fonts/rubik-v14-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 900;
  src:
    url("./fonts/rubik-v14-latin-900.woff2") format("woff2"),
    url("./fonts/rubik-v14-latin-900.woff") format("woff");
}


* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik";
  min-width: 1200px;
}


.header {
  background-color: #F6F6F9;
}

.container {
  width: 1200px;
  margin-left: 119px;
  margin-left: auto;
  margin-right: auto;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top-left {
  margin-top: 43px;
  display: flex;
  align-items: center;
}

.header-logo {
  width: 306px;
  height: 33px;
  background-color: white;
}

.money-course {
  display: flex;
  margin-left: 23px;
}

.money-course-img {
  width: 258px;
  height: 21px;
}

.header-top-button {
  background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
  width: 146px;
  height: 40px;
  border-radius: 5px;
  margin-top: 42px;
}

.button {
  display: flex;
  align-items: center;
  margin-top: 11px;
}

.button-img {
  width: 19px;
  height: 19px;
  margin-left: 10px;
}

.button-text {
  color: white;
  margin-left: 7px;
}

.menu-section {
  height: 68px;
  margin-top: 49px;
  margin-bottom: 18px;
  display: flex;
}

.menu {
  width: 1200px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
}

.menu-item {
  margin-top: 21px;
  margin-bottom: 22px;
}

.menu-link {
  color: #515151;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
}

.menu-link:hover {
  transition-duration: 0.5s ease;
  border-top-color: #515151;
  border-bottom: 1px solid #515151;
}

.NRG-banner {
  margin-bottom: 45px;
  cursor: pointer;
  transition: 0.3s ease;
}

.NRG-banner:hover {
  box-shadow: 2px 2px 10px grey;
}

.main-wrapper {
  display: flex;
}

.main-left {}

figure img {
  margin-top: 89px;
  width: 794px;
  height: 379px;
}

figcaption {
  font-family: "Roboto";
  font-size: 18px;
  font-style: italic;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;

  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;

  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;

  height: 588px;
  width: 794px;
  left: 125px;
  top: 836px;
  border-radius: 0;

  margin-top: 36px;

}

figcaption p {
  margin-bottom: 21px;
}

.main-right {
  margin-top: 43px;
  margin-left: 40px;
}

.popular-news-box {
  width: 386px;
  height: 542px;
  background-color: #F6F6F9;
  padding-top: 16px;
  border-radius: 5px;
}

.popular-news-box-title {
  width: 280px;
  height: 26px;
  font-size: 20px;
  font-weight: 700;
  color: #202020;
  margin-left: 20px;
  margin-top: 16px;
}

.popular-news-box-text {
  width: 347px;
  height: 62px;
  font-weight: 400;
  font-size: 17px;
  margin-top: 6px;
  color: #202020;
  margin-left: 20px;
}

.popular-news-box-date {
  width: 117px;
  height: 19px;
  font-weight: 400;
  font-size: 14px;
  color: #7688A4;
  margin-top: 11px;
  margin-bottom: 14px;
  margin-left: 20px;
}

.popular-news-box-line {
  width: 346px;
  height: 4px;
  background-color: #E4E4E4;
  margin-bottom: 18px;
  margin-left: 20px;
  border-color: transparent;
}

.popular-news-box-img {
  width: 386px;
  height: 477px;
  margin-top: 20px;
}

.hashtags {
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #28508E;
  margin-top: 16px;
}

.hashtags-subline {
  height: 2px;
  width: 794px;
  border-radius: 0px;
  background: #EBEBEB;
  border-color: transparent;
  margin-top: 20px;
  margin-bottom: 16px;
}

.news-title {
  font-family: "Rubik";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 70px;
  color: #000000;
}

.news-item {
  display: flex;
  justify-content: space-between;
}

.news-link {
  margin-top: 39px;

}

.figcaption {
  width: 370px;
  text-align: left;
}

.news-img-link {
  font-family: "Rubik";
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 21px;
  color: #000000;
}

.news-date {
  font-family: "Rubik";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #6B6D97;
  margin-top: 11px;
}

.footer {
  margin-top: 38px;
  background: #295093;
}

.footer-top {
  display: flex;
}

.footer-top-img {
  width: 194px;
  height: 38px;
  background-color: #133C82;
  border-radius: 5px;
  margin-top: 18px;
}

.footer-namanganliklar-img {
  margin: 11px 5px 10px 11px;
  height: 16px;
}

.footer-top-text {
  width: 659px;
  height: 19px;
  font-family: "Rubik";
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin-top: 31px;
  margin-left: 210px;
}

.footer-button {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  border-color: transparent;
  width: 132px;
  height: 38px;
  margin-top: 20px;
  cursor: pointer;
}

.footer-button-img {
  margin-left: 9px;
  margin-right: 6px;
}

.footer-line {
  width: 1200px;
  height: 3px;
  margin-top: 26px;
  background-color: #133C82;
  border-color: transparent;
  margin-left: auto;
  margin-right: auto;
}

.footer-text-box {
  margin-top: 12px;
  display: flex;
}

.footer-left-text-box {
  margin-right: 111px;
  margin-bottom: 13px;
  width: 365px;
  height: 121px;
}

.footer-left-text {
  font-size: 14px;
  font-weight: 500;
  font-family: "Rubik";
  color: #ffffff;
  line-height: 20px;
}

.footer-information {
  height: 106px;
}

.footer-information-item {
  margin-top: 6px;
  margin-right: 115px;
}

.footer-information-link {
  color: #ffffff;
}